:root {
  box-sizing: border-box;
  margin: 0px;
}

html {
  background-color: rgb(33, 33, 33);
  color: white;
}

body {
  padding: 5rem;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  margin-bottom: 10px;
}
